In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('owid-covid-data.csv')
print(df)

       iso_code continent     location        date  total_cases  new_cases  \
0           AFG      Asia  Afghanistan  2020-02-24          5.0        5.0
1           AFG      Asia  Afghanistan  2020-02-25          5.0        0.0
2           AFG      Asia  Afghanistan  2020-02-26          5.0        0.0
3           AFG      Asia  Afghanistan  2020-02-27          5.0        0.0
4           AFG      Asia  Afghanistan  2020-02-28          5.0        0.0
...         ...       ...          ...         ...          ...        ...
244333      ZWE    Africa     Zimbabwe  2022-12-17     259356.0        0.0
244334      ZWE    Africa     Zimbabwe  2022-12-18     259356.0        0.0
244335      ZWE    Africa     Zimbabwe  2022-12-19     259356.0        0.0
244336      ZWE    Africa     Zimbabwe  2022-12-20     259981.0      625.0
244337      ZWE    Africa     Zimbabwe  2022-12-21     259981.0        NaN

        new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  \
0                      NaN           NaN         NaN                  NaN
1                      NaN           NaN         NaN                  NaN
2                      NaN           NaN         NaN                  NaN
3                      NaN           NaN         NaN                  NaN
4                      NaN           NaN         NaN                  NaN
...                    ...           ...         ...                  ...
244333               0.000        5622.0         0.0                0.000
244334               0.000        5622.0         0.0                0.000
244335               0.000        5622.0         0.0                0.000
244336              89.286        5637.0        15.0                2.143
244337                 NaN        5637.0         NaN                  NaN

        ...  male_smokers  handwashing_facilities  hospital_beds_per_thousand  \
0       ...           NaN                  37.746                         0.5
1       ...           NaN                  37.746                         0.5
2       ...           NaN                  37.746                         0.5
3       ...           NaN                  37.746                         0.5
4       ...           NaN                  37.746                         0.5
...     ...           ...                     ...                         ...
244333  ...          30.7                  36.791                         1.7
244334  ...          30.7                  36.791                         1.7
244335  ...          30.7                  36.791                         1.7
244336  ...          30.7                  36.791                         1.7
244337  ...          30.7                  36.791                         1.7

        life_expectancy  human_development_index  population  \
0                 64.83                    0.511  41128772.0
1                 64.83                    0.511  41128772.0
2                 64.83                    0.511  41128772.0
3                 64.83                    0.511  41128772.0
4                 64.83                    0.511  41128772.0
...                 ...                      ...         ...
244333            61.49                    0.571  16320539.0
244334            61.49                    0.571  16320539.0
244335            61.49                    0.571  16320539.0
244336            61.49                    0.571  16320539.0
244337            61.49                    0.571  16320539.0

        excess_mortality_cumulative_absolute  excess_mortality_cumulative  \
0                                        NaN                          NaN
1                                        NaN                          NaN
2                                        NaN                          NaN
3                                        NaN                          NaN
4                                        NaN                          NaN
...                                      ...                          ...
244333                                   NaN                          NaN
244334                                   NaN                          NaN
244335                                   NaN                          NaN
244336                                   NaN                          NaN
244337                                   NaN                          NaN

        excess_mortality  excess_mortality_cumulative_per_million
0                    NaN                                      NaN
1                    NaN                                      NaN
2                    NaN                                      NaN
3                    NaN                                      NaN
4                    NaN                                      NaN
...                  ...                                      ...
244333               NaN                                      NaN
244334               NaN                                      NaN
244335               NaN                                      NaN
244336               NaN                                      NaN
244337               NaN                                      NaN

[244338 rows x 67 columns]

In [3]:
df = df[df['continent'] == 'Asia']

In [4]:
df['wave'] = 0
df.loc[(df['date'] > '2020-01-01') & (df['date'] < '2020-07-01'),"wave"] = 1
df.loc[(df['date'] > '2020-06-31') & (df['date'] < '2020-10-01'),"wave"] = 2
df.loc[(df['date'] > '2020-09-31') & (df['date'] < '2021-04-01'),"wave"] = 3
df.loc[(df['date'] > '2021-03-31') & (df['date'] < '2021-08-01'),"wave"] = 4
df.loc[(df['date'] > '2021-07-31') & (df['date'] < '2021-12-01'),"wave"] = 5
df.loc[(df['date'] > '2021-11-31'),"wave"] = 6

In [5]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,wave
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN,1
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN,1
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN,1
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN,1
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242317,YEM,Asia,Yemen,2022-12-17,11945.0,0.0,0.0,2159.0,0.0,0.0,...,49.542,0.7,66.12,0.470,33696612.0,NaN,NaN,NaN,NaN,6
242318,YEM,Asia,Yemen,2022-12-18,11945.0,0.0,0.0,2159.0,0.0,0.0,...,49.542,0.7,66.12,0.470,33696612.0,NaN,NaN,NaN,NaN,6
242319,YEM,Asia,Yemen,2022-12-19,11945.0,0.0,0.0,2159.0,0.0,0.0,...,49.542,0.7,66.12,0.470,33696612.0,NaN,NaN,NaN,NaN,6
242320,YEM,Asia,Yemen,2022-12-20,11945.0,0.0,0.0,2159.0,0.0,0.0,...,49.542,0.7,66.12,0.470,33696612.0,NaN,NaN,NaN,NaN,6
242321,YEM,Asia,Yemen,2022-12-21,11945.0,0.0,0.0,2159.0,0.0,0.0,...,49.542,0.7,66.12,0.470,33696612.0,NaN,NaN,NaN,NaN,6

In [6]:
dff = pd.get_dummies(df, columns=['wave'])
dff

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,wave_1,wave_2,wave_3,wave_4,wave_5,wave_6
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,0,0,0,0,0
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,0,0,0,0,0
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,0,0,0,0,0
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,0,0,0,0,0
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242317,YEM,Asia,Yemen,2022-12-17,11945.0,0.0,0.0,2159.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,1
242318,YEM,Asia,Yemen,2022-12-18,11945.0,0.0,0.0,2159.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,1
242319,YEM,Asia,Yemen,2022-12-19,11945.0,0.0,0.0,2159.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,1
242320,YEM,Asia,Yemen,2022-12-20,11945.0,0.0,0.0,2159.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,1
242321,YEM,Asia,Yemen,2022-12-21,11945.0,0.0,0.0,2159.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,1

In [7]:
dff["new_death/new_cases"]= dff['new_deaths']/dff['new_cases']
dff.replace([np.inf, -np.inf], 0, inplace=True)
dff.replace(np.nan, 0, inplace=True)
dff.replace(to_replace="NULL",value=0)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,wave_1,wave_2,wave_3,wave_4,wave_5,wave_6,new_death/new_cases
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1,0,0,0,0,0,0.0
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1,0,0,0,0,0,0.0
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1,0,0,0,0,0,0.0
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1,0,0,0,0,0,0.0
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1,0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242317,YEM,Asia,Yemen,2022-12-17,11945.0,0.0,0.0,2159.0,0.0,0.0,...,0.0,0.0,0.0,0,0,0,0,0,1,0.0
242318,YEM,Asia,Yemen,2022-12-18,11945.0,0.0,0.0,2159.0,0.0,0.0,...,0.0,0.0,0.0,0,0,0,0,0,1,0.0
242319,YEM,Asia,Yemen,2022-12-19,11945.0,0.0,0.0,2159.0,0.0,0.0,...,0.0,0.0,0.0,0,0,0,0,0,1,0.0
242320,YEM,Asia,Yemen,2022-12-20,11945.0,0.0,0.0,2159.0,0.0,0.0,...,0.0,0.0,0.0,0,0,0,0,0,1,0.0
242321,YEM,Asia,Yemen,2022-12-21,11945.0,0.0,0.0,2159.0,0.0,0.0,...,0.0,0.0,0.0,0,0,0,0,0,1,0.0

In [8]:
dff = dff.groupby(by=["location","wave_1","wave_2","wave_3","wave_4","wave_5","wave_6"]).agg({'new_death/new_cases':'sum', 'population_density':'max'})
dff

                                                       new_death/new_cases  \
location    wave_1 wave_2 wave_3 wave_4 wave_5 wave_6
Afghanistan 0      0      0      0      0      1                  6.619693
                                        1      0                  7.535802
                                 1      0      0                  6.065044
                          1      0      0      0                 11.993168
                   1      0      0      0      0                  7.306957
...                                                                    ...
Yemen       0      0      0      0      1      0                 30.620590
                                 1      0      0                 29.947711
                          1      0      0      0                 13.744193
                   1      0      0      0      0                 29.473941
            1      0      0      0      0      0                 17.321451

                                                       population_density
location    wave_1 wave_2 wave_3 wave_4 wave_5 wave_6
Afghanistan 0      0      0      0      0      1                   54.422
                                        1      0                   54.422
                                 1      0      0                   54.422
                          1      0      0      0                   54.422
                   1      0      0      0      0                   54.422
...                                                                   ...
Yemen       0      0      0      0      1      0                   53.508
                                 1      0      0                   53.508
                          1      0      0      0                   53.508
                   1      0      0      0      0                   53.508
            1      0      0      0      0      0                   53.508

[302 rows x 2 columns]

In [9]:
grouped_region_data = dff.reset_index()
grouped_region_data

,location,wave_1,wave_2,wave_3,wave_4,wave_5,wave_6,new_death/new_cases,population_density
0,Afghanistan,0,0,0,0,0,1,6.619693,54.422
1,Afghanistan,0,0,0,0,1,0,7.535802,54.422
2,Afghanistan,0,0,0,1,0,0,6.065044,54.422
3,Afghanistan,0,0,1,0,0,0,11.993168,54.422
4,Afghanistan,0,1,0,0,0,0,7.306957,54.422
...,...,...,...,...,...,...,...,...,...
297,Yemen,0,0,0,0,1,0,30.620590,53.508
298,Yemen,0,0,0,1,0,0,29.947711,53.508
299,Yemen,0,0,1,0,0,0,13.744193,53.508
300,Yemen,0,1,0,0,0,0,29.473941,53.508
301,Yemen,1,0,0,0,0,0,17.321451,53.508

In [11]:
grouped_region_data.loc[grouped_region_data["wave_1"]==1,"wave_1"]=grouped_region_data["new_death/new_cases"]
grouped_region_data.loc[grouped_region_data["wave_2"]==1,"wave_2"]=grouped_region_data["new_death/new_cases"]
grouped_region_data.loc[grouped_region_data["wave_3"]==1,"wave_3"]=grouped_region_data["new_death/new_cases"]
grouped_region_data.loc[grouped_region_data["wave_4"]==1,"wave_4"]=grouped_region_data["new_death/new_cases"]
grouped_region_data.loc[grouped_region_data["wave_5"]==1,"wave_5"]=grouped_region_data["new_death/new_cases"]
grouped_region_data.loc[grouped_region_data["wave_6"]==1,"wave_6"]=grouped_region_data["new_death/new_cases"]

grouped_region_data.head(6)

,location,wave_1,wave_2,wave_3,wave_4,wave_5,wave_6,new_death/new_cases,population_density
0,Afghanistan,0.000000,0.000000,0.000000,0.000000,0.000000,6.619693,6.619693,54.422
1,Afghanistan,0.000000,0.000000,0.000000,0.000000,7.535802,0.000000,7.535802,54.422
2,Afghanistan,0.000000,0.000000,0.000000,6.065044,0.000000,0.000000,6.065044,54.422
3,Afghanistan,0.000000,0.000000,11.993168,0.000000,0.000000,0.000000,11.993168,54.422
4,Afghanistan,0.000000,7.306957,0.000000,0.000000,0.000000,0.000000,7.306957,54.422
5,Afghanistan,3.160014,0.000000,0.000000,0.000000,0.000000,0.000000,3.160014,54.422

In [12]:
grouped_region_data = grouped_region_data.dropna()
grouped_region_data

,location,wave_1,wave_2,wave_3,wave_4,wave_5,wave_6,new_death/new_cases,population_density
0,Afghanistan,0.000000,0.000000,0.000000,0.000000,0.000000,6.619693,6.619693,54.422
1,Afghanistan,0.000000,0.000000,0.000000,0.000000,7.535802,0.000000,7.535802,54.422
2,Afghanistan,0.000000,0.000000,0.000000,6.065044,0.000000,0.000000,6.065044,54.422
3,Afghanistan,0.000000,0.000000,11.993168,0.000000,0.000000,0.000000,11.993168,54.422
4,Afghanistan,0.000000,7.306957,0.000000,0.000000,0.000000,0.000000,7.306957,54.422
...,...,...,...,...,...,...,...,...,...
297,Yemen,0.000000,0.000000,0.000000,0.000000,30.620590,0.000000,30.620590,53.508
298,Yemen,0.000000,0.000000,0.000000,29.947711,0.000000,0.000000,29.947711,53.508
299,Yemen,0.000000,0.000000,13.744193,0.000000,0.000000,0.000000,13.744193,53.508
300,Yemen,0.000000,29.473941,0.000000,0.000000,0.000000,0.000000,29.473941,53.508
301,Yemen,17.321451,0.000000,0.000000,0.000000,0.000000,0.000000,17.321451,53.508

In [13]:
grouped_region_data = grouped_region_data.groupby(by=["location"]).agg({'wave_1':'sum','wave_2':'sum','wave_3':'sum','wave_4':'sum','wave_5':'sum','wave_6':'sum','population_density':'max'})
grouped_region_data

,wave_1,wave_2,wave_3,wave_4,wave_5,wave_6,population_density
location,,,,,,,
Afghanistan,3.160014,7.306957,11.993168,6.065044,7.535802,6.619693,54.422
Armenia,1.951041,2.629690,4.545127,4.752826,3.741728,7.516221,102.931
Azerbaijan,1.711877,1.634698,3.783711,2.657075,1.406333,8.000908,119.309
Bahrain,0.362066,0.350136,0.649666,1.022491,0.149798,0.289324,1935.907
Bangladesh,2.932626,1.521879,3.409054,2.691481,2.782683,2.316816,1265.036
Bhutan,0.000000,0.000000,0.250000,0.100000,0.500000,0.038059,21.188
Brunei,0.200000,0.000000,0.000000,0.000000,0.518582,0.138669,81.347
Cambodia,0.000000,0.000000,0.146300,2.088145,7.210699,7.148174,90.672
China,15.936285,0.062037,3.825936,0.386318,0.792916,0.467875,147.674
Georgia,2.472594,0.612707,4.127440,2.272434,2.131914,2.101272,65.032
Hong Kong,2.333929,4.790015,3.523398,2.046429,1.000000,1.959473,7039.714
India,3.558816,1.388312,1.914143,2.088597,2.390694,9.167408,450.419
Indonesia,7.010530,3.342282,4.572378,3.554111,6.543446,6.101535,145.725
Iran,8.348964,6.212445,4.794043,1.823379,2.260499,8.143738,49.831
Iraq,5.718967,2.353307,2.053218,0.712758,2.054632,2.149912,88.125
Israel,3.613162,0.634262,2.393834,5.828406,0.699584,0.799033,402.606
Japan,11.620817,1.002987,4.167981,2.011903,2.241782,0.710363,347.778
Jordan,1.740975,0.572627,2.245606,2.273624,1.203007,0.713242,109.285
Kazakhstan,0.763046,1.379477,3.978075,5.557141,3.031682,17.362685,6.681
Kuwait,0.688662,0.420067,1.024736,0.756931,1.367654,0.146096,232.128
Kyrgyzstan,1.205689,1.186036,2.354403,1.769089,3.282719,5.064052,32.333
Laos,0.000000,0.000000,0.000000,0.199450,0.231077,1.132562,29.715
Lebanon,2.774303,1.064861,2.377046,2.665259,1.164204,3.105792,594.561
Macao,0.000000,0.000000,0.000000,0.000000,0.000000,0.354000,20546.766
Malaysia,1.824375,0.646826,0.684130,1.086262,1.604508,1.245109,96.254
Maldives,0.340499,0.401327,0.659319,0.352689,0.292495,0.207921,1454.433
Mongolia,0.000000,0.000000,0.364243,0.574001,0.348203,0.195471,1.980
Myanmar,1.433333,0.576646,4.763998,2.070030,4.365291,1.570698,81.721
Nepal,0.416709,0.650879,11.289243,1.865491,1.715299,1.308458,204.430
North Korea,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,211.701
Northern Cyprus,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000
Oman,0.578109,1.492618,1.549385,1.170539,1.866637,0.369266,14.980
Pakistan,2.282099,1.581526,4.200229,3.225412,2.777077,2.332556,255.573
Palestine,0.311350,0.779694,2.292636,1.558486,1.094542,0.781382,778.202
Philippines,7.852444,1.487231,4.256790,2.207471,6.063731,31.716220,351.873
Qatar,0.157742,0.299377,0.415967,0.757980,0.102847,0.163069,227.322
Saudi Arabia,0.948395,2.715820,6.941872,1.382939,3.814845,4.664038,15.322
Singapore,0.160396,0.002882,0.541667,0.333929,0.510973,0.385410,7915.731
South Korea,7.671312,1.515123,3.079119,0.554128,0.719090,0.930416,527.967
Sri Lanka,1.616598,0.202381,1.066979,2.182211,4.726588,14.897955,341.955
Syria,5.326923,4.522040,12.827053,11.560501,4.729260,10.200509,0.000
Taiwan,1.412037,0.000000,0.742857,8.826248,8.280920,0.795008,0.000
Tajikistan,0.538678,0.557828,0.522478,0.748358,0.043713,0.000000,64.281
Thailand,3.641475,0.142857,0.335050,0.960584,1.208179,2.641225,135.132
Timor,0.000000,0.000000,0.000000,0.351027,1.459431,2.775504,87.176
Turkey,2.612681,2.225388,3.316151,1.336579,1.036937,0.898348,104.914
Turkmenistan,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12.253
United Arab Emirates,0.658044,0.243379,0.504263,0.253225,0.680056,0.206241,112.442
Uzbekistan,0.510215,0.892317,0.692670,0.584346,1.060773,0.821379,76.134
Vietnam,0.000000,4.174153,0.000000,0.439547,2.750072,1.032414,308.127
Yemen,17.321451,29.473941,13.744193,29.947711,30.620590,24.359123,53.508

In [14]:
grouped_region_data_final = grouped_region_data.reset_index()
grouped_region_data_final = grouped_region_data_final.sort_values(by=["population_density"], ascending=False)

In [15]:
# grouped_region_data_final = grouped_region_data_final.drop([23])
grouped_region_data_final = grouped_region_data_final.drop(columns = ['population_density'])

In [16]:
grouped_region_data_final.to_csv(r'C:\Users\Kozy-Korpesh\Desktop\unige 2 course\dv\dv-final\data\map_data_stacked.csv',index=False,header=True)