In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('owid-covid-data.csv')
print(df)

       iso_code continent     location        date  total_cases  new_cases  \
0           AFG      Asia  Afghanistan  2020-02-24          5.0        5.0
1           AFG      Asia  Afghanistan  2020-02-25          5.0        0.0
2           AFG      Asia  Afghanistan  2020-02-26          5.0        0.0
3           AFG      Asia  Afghanistan  2020-02-27          5.0        0.0
4           AFG      Asia  Afghanistan  2020-02-28          5.0        0.0
...         ...       ...          ...         ...          ...        ...
244333      ZWE    Africa     Zimbabwe  2022-12-17     259356.0        0.0
244334      ZWE    Africa     Zimbabwe  2022-12-18     259356.0        0.0
244335      ZWE    Africa     Zimbabwe  2022-12-19     259356.0        0.0
244336      ZWE    Africa     Zimbabwe  2022-12-20     259981.0      625.0
244337      ZWE    Africa     Zimbabwe  2022-12-21     259981.0        NaN

        new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  \
0                      NaN           NaN         NaN                  NaN
1                      NaN           NaN         NaN                  NaN
2                      NaN           NaN         NaN                  NaN
3                      NaN           NaN         NaN                  NaN
4                      NaN           NaN         NaN                  NaN
...                    ...           ...         ...                  ...
244333               0.000        5622.0         0.0                0.000
244334               0.000        5622.0         0.0                0.000
244335               0.000        5622.0         0.0                0.000
244336              89.286        5637.0        15.0                2.143
244337                 NaN        5637.0         NaN                  NaN

        ...  male_smokers  handwashing_facilities  hospital_beds_per_thousand  \
0       ...           NaN                  37.746                         0.5
1       ...           NaN                  37.746                         0.5
2       ...           NaN                  37.746                         0.5
3       ...           NaN                  37.746                         0.5
4       ...           NaN                  37.746                         0.5
...     ...           ...                     ...                         ...
244333  ...          30.7                  36.791                         1.7
244334  ...          30.7                  36.791                         1.7
244335  ...          30.7                  36.791                         1.7
244336  ...          30.7                  36.791                         1.7
244337  ...          30.7                  36.791                         1.7

        life_expectancy  human_development_index  population  \
0                 64.83                    0.511  41128772.0
1                 64.83                    0.511  41128772.0
2                 64.83                    0.511  41128772.0
3                 64.83                    0.511  41128772.0
4                 64.83                    0.511  41128772.0
...                 ...                      ...         ...
244333            61.49                    0.571  16320539.0
244334            61.49                    0.571  16320539.0
244335            61.49                    0.571  16320539.0
244336            61.49                    0.571  16320539.0
244337            61.49                    0.571  16320539.0

        excess_mortality_cumulative_absolute  excess_mortality_cumulative  \
0                                        NaN                          NaN
1                                        NaN                          NaN
2                                        NaN                          NaN
3                                        NaN                          NaN
4                                        NaN                          NaN
...                                      ...                          ...
244333                                   NaN                          NaN
244334                                   NaN                          NaN
244335                                   NaN                          NaN
244336                                   NaN                          NaN
244337                                   NaN                          NaN

        excess_mortality  excess_mortality_cumulative_per_million
0                    NaN                                      NaN
1                    NaN                                      NaN
2                    NaN                                      NaN
3                    NaN                                      NaN
4                    NaN                                      NaN
...                  ...                                      ...
244333               NaN                                      NaN
244334               NaN                                      NaN
244335               NaN                                      NaN
244336               NaN                                      NaN
244337               NaN                                      NaN

[244338 rows x 67 columns]

In [3]:
df = df[df['continent'] == 'Asia'] 
df['year'] = pd.DatetimeIndex(df['date']).year
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,year
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN,2020
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN,2020
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN,2020
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN,2020
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242317,YEM,Asia,Yemen,2022-12-17,11945.0,0.0,0.0,2159.0,0.0,0.0,...,49.542,0.7,66.12,0.470,33696612.0,NaN,NaN,NaN,NaN,2022
242318,YEM,Asia,Yemen,2022-12-18,11945.0,0.0,0.0,2159.0,0.0,0.0,...,49.542,0.7,66.12,0.470,33696612.0,NaN,NaN,NaN,NaN,2022
242319,YEM,Asia,Yemen,2022-12-19,11945.0,0.0,0.0,2159.0,0.0,0.0,...,49.542,0.7,66.12,0.470,33696612.0,NaN,NaN,NaN,NaN,2022
242320,YEM,Asia,Yemen,2022-12-20,11945.0,0.0,0.0,2159.0,0.0,0.0,...,49.542,0.7,66.12,0.470,33696612.0,NaN,NaN,NaN,NaN,2022
242321,YEM,Asia,Yemen,2022-12-21,11945.0,0.0,0.0,2159.0,0.0,0.0,...,49.542,0.7,66.12,0.470,33696612.0,NaN,NaN,NaN,NaN,2022

In [6]:
dff = df.groupby(by=["year","location"])['new_deaths', 'new_vaccinations'].sum()
print(dff)

                           new_deaths  new_vaccinations
year location
2020 Afghanistan               2189.0               0.0
     Armenia                   2823.0               0.0
     Azerbaijan                2641.0               0.0
     Bahrain                    352.0           19678.0
     Bangladesh                7559.0               0.0
...                               ...               ...
2022 Turkmenistan                 0.0               0.0
     United Arab Emirates       184.0         1156381.0
     Uzbekistan                 152.0          448984.0
     Vietnam                  10790.0        32048915.0
     Yemen                      175.0               0.0

[151 rows x 2 columns]

<ipython-input-6-2e2b567b6ef3>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  dff = df.groupby(by=["year","location"])['new_deaths', 'new_vaccinations'].sum()

In [8]:
grouped_region_data = dff.reset_index()
# grouped_region_data = grouped_region_data[grouped_region_data['year'] == 2020] 
grouped_region_data

     year              location  new_deaths  new_vaccinations
0    2020           Afghanistan      2189.0               0.0
1    2020               Armenia      2823.0               0.0
2    2020            Azerbaijan      2641.0               0.0
3    2020               Bahrain       352.0           19678.0
4    2020            Bangladesh      7559.0               0.0
..    ...                   ...         ...               ...
146  2022          Turkmenistan         0.0               0.0
147  2022  United Arab Emirates       184.0         1156381.0
148  2022            Uzbekistan       152.0          448984.0
149  2022               Vietnam     10790.0        32048915.0
150  2022                 Yemen       175.0               0.0

[151 rows x 4 columns]

In [9]:
grouped_region_data.to_csv(r'C:\Users\Kozy-Korpesh\Desktop\dv\dv-final\data\map_data.csv',index=False,header=True)